@import '../../index.scss';

.users {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: [user-name] 1fr [gender] auto [registered-date] 1fr [location] 1fr;
    margin: 0.5rem 1rem;
    padding: 1rem;

    &__name {
      display: grid;
      justify-self: flex-start;
    }

    &__registered-date {
      display: grid;
      justify-self: center;
    }

    &__location {
      display: grid;
      justify-self: flex-end;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}
