@import '../../index.scss';

.user {
  display: grid;
  grid-template-columns: [user-name] 1fr [gender] auto [registered-date] 1fr [location] 1fr;
  border: 1px solid $color-grey;
  box-shadow: 2px 2px 1px $color-grey-dark;
  padding: 1rem 0;
  margin: 1rem;
}
